@mixin transition {
  transition: .3s ease;
}

@mixin icon-button {
  background-color: transparent;
  font-size: 18px;
  color: #626262;
  width: 30px;
  height: 30px;
  border-radius: 30px;

  @include transition;
}

@mixin form-settings {
  font-size: inherit;
  padding: 8px 16px;
  border-radius: 30px;
  background-color: transparent;
  border: 1px solid #212121 ;
}



.main {
  &__title {
    text-align: center;
    margin: 30px 0;
    font-family: "Roboto Mono", monospace;
  }

  &__to-do {
  }
}

.to-do {
  padding: 30px;
  border-radius: 30px;
  background-color: white;
  &__form {
    display: flex;
    justify-content: space-between;
    gap: 20px;
  }

  &__input {
    @include form-settings;
    border-color: rgba(0, 0, 0, 0.2);
    width: 100%;
  }

  &__submit-button {
    @include form-settings;
    @include transition;

    &:hover {
      background-color: black;
      color: white;
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(175, 175, 175, 0.1);
    padding: 10px 20px;
    border-radius: 15px;

    &:first-child {
      margin-top: 20px;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }

    &.completed .to-do__text {
      text-decoration: line-through;
      color: #b6b6b6;
    }
  }

  &__text {
    margin-right: 5px;
    padding-top: 3px;
    overflow: clip;
  }

  /**/
  &__buttons {
    display: flex;
    align-items: center;
    gap: 15px;
  }

  /**/
  &__button {
    &_complete {
      @include icon-button;
      &:hover {
        color: #29ff29;
        background-color: rgba(41, 255, 41, 0.2);
      }
    }

    &_edit {
      @include icon-button;
      &:hover {
        color: #2474ff;
        background-color: rgba(36, 116, 255, 0.2);
      }
    }

    &_delete {
      @include icon-button;
      &:hover {
        color: red;
        background-color: rgba(255, 0, 0, 0.2);
      }
    }
  }
}